@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #333333;
  --gray: #bbbbbb;
  --gray-dark: #7a7a7a;
  --blue-dark: #1c5291;
  --blue-light: #386fd6;
  --yellow: #f7c41c;
  --red: #ed2e2e;
  --orange: #ff8127;
  --green: #00b8cc;
  --footer: #003364;
}

.content-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6; /* Giới hạn số dòng */
  overflow: hidden;
  text-overflow: ellipsis; /* Thêm dấu ba chấm */
}

.tittle-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Giới hạn số dòng */
  overflow: hidden;
  text-overflow: ellipsis; /* Thêm dấu ba chấm */
}

.hidden-content {
  display: none;
}

.info a.active {
  border-bottom: 4px solid white;
}

.slice {
  position: absolute;
  top: 0;
  left: 100%;
  transition: left 0.5s ease-in-out;
}

.slice.active {
  left: 0;
}

.slice.previous {
  left: -100%;
}

.content {
  display: none;
}

.slice-act {
  position: absolute;
  top: 0;
  left: 100%;
  transition: left 0.5s ease-in-out;
}

.slice-act.active {
  left: 0;
}

.slice-act.previous {
  left: -100%;
}
